<div class="container px-5 px-sm-0">
  <div class="row mt-3">
    
    <div class="col-md-3">
      <%= render 'users/info' %>

      <%= render 'form' %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <%= render 'list_book' %>
    </div>
    
  </div>
</div>