<h2>User info</h2>
<%= image_tag current_user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr>
      <td>
        <label>name</label>
      </td>
      <td>
        <%= current_user.name %>
      </td>
    </tr>
    <tr>
      <td>
        <label>introduction</label>
      </td>
      <td>
        <%= current_user.body %>
      </td>
    </tr>
  </tbody>
</table>